
.GetYourCard{
    padding: 80px 0;
    padding-bottom: 40px;
}

.GetYourCard .GetYourCardContent{
    width: 60%;
    margin: auto;
}

.GetYourCardTitle{
    font-size: 28px;
    text-align: center;
}

.GetYourCardDescription{
    width: 80%;
    color: var(--bg-softgray);
    margin: auto;
    text-align: center;
}

.ListCardInfo{
    margin-top: 30px;
}

.ListCardInfo ul{
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
}

.ListCardInfo ul li{
    margin-right: 10px;
}

.ListCardInfo ul li:last-child{
    margin-right: 0;
}

@media (max-width:1024px){
    .GetYourCard{
        padding-top: 160px;
    }
}

@media (max-width:768px){
    .GetYourCard{
        padding-top: 100px;
    }

    .ListCardInfo ul{
        display: block;
    }
}

@media (max-width:425px){
    .GetYourCard .GetYourCardContent{
        width: 90%;
    }
}