.FooterBlockLink ul{
    list-style: none;
    padding: 0;
}

.FooterBlockLink ul li{
    margin: 1em 0;
}

.FooterBlockLink  ul li a {
    text-decoration: none;
    color: var(--bg-softgray);
}

.FooterBlockLink .BlockTitle{
    color: var(--bg-black);
    font-weight: 600;;
}